@page "/fetchdata"
@using BlazorApp.Shared 
@inject System.Net.Http.HttpClient HttpClient
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.Net.Http.Json;

<h1>PDF document creation and merging.</h1>

<button class="btn btn-primary" @onclick="@GeneratePDF">Generate PDF</button>

@functions{
    async void GeneratePDF()
    {
        string data = await HttpClient.GetStringAsync("/api/DocumentManipulation");
        JS.SaveAs("Sample.pdf", Convert.FromBase64String(data));
    }
}
