@page "/"
@using Syncfusion.Pdf;
@using Syncfusion.Drawing;
@using Syncfusion.Pdf.Graphics;
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO;
@inject System.Net.Http.HttpClient HttpClient


<PageTitle>Index</PageTitle>

<button class="btn btn-primary" @onclick="@GeneratePDF">Generate PDF</button>

@functions{
    async void GeneratePDF()
    {
        PdfDocument pdfDocument = new PdfDocument();
        //Add Page to the PDF document.
        PdfPage page = pdfDocument.Pages.Add();
        //Create a new font.
        PdfStandardFont font = new PdfStandardFont(PdfFontFamily.TimesRoman, 16);
        page.Graphics.DrawString("Hello World!", font, PdfBrushes.Red, PointF.Empty);
        PdfBitmap image = new PdfBitmap(await GetImageStreamAsync());
        page.Graphics.DrawImage(image, new RectangleF(0,50, 500, 300));
        MemoryStream memoryStream = new MemoryStream();
        // Save the PDF document.
        pdfDocument.Save(memoryStream);
        // Download the PDF document
        JS.SaveAs("Sample.pdf", memoryStream.ToArray());
    }
    private async Task<Stream> GetImageStreamAsync()
    {
        return await HttpClient.GetStreamAsync("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
        //https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg
        //https://avatars.githubusercontent.com/u/9141961
    }
}
